*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body 
{ 
     background-color: whitesmoke;
     background: linear-gradient(120deg,#8F7CEC, #55c2d6);
     height: 100vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
    
} 
.container
{
    background: linear-gradient(120deg,#f9f9f9, #d6f6f7);
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 10px solid #8F7CEC;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.6);
    margin-bottom: 300px;
    border-bottom: 4px solid rgb(47, 209, 254);
    margin-top: 250px;
    
}
.container h2
{
    font-size: 30px;
    line-height: 24px;
    padding: 30px;
    text-align: center;
    
}
.input-name
{
    width: 90%;
    position: relative;
    margin: 10px auto;

}
.icon
{
    color: #8F7CEC;
    
    
}
.name
{
    width: 45%;
    padding: 8px 0 8px 40px;
}
.input-name span
{
    margin-left: 35px;
}
.text-name
{
    width: 100%;
    padding: 8px 0 8px 40px;
}
.text-name, .name
{
    border: 1px solid rgba(142, 175, 175, 0.63);
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;

}
.text-name:hover, .name:hover
{
    background-color: #fafafa;
}
.text-name:focus, .name:focus
{
    border: 1px solid aqua;
}
.radio-button
{
    margin-right: 5px;
    accent-color: #7B8CEC;

}

.button {
    padding: 7PX 15PX;
    color: #534c5b;
    font-size: 13PX;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5S;
    letter-spacing: 4PX;
    border:1px solid #8F7CEC;
    border-radius: 0px;
    margin-left: 24%;
    width:100px;
    height: 40px;
  }
  .button:hover {
    background: #8F7CEC;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #8f7cec , 0 0 25px  #8F7CEC, 0 0 50px #8F7CEC, 0 0 100px #8F7CEC;
  }

  .button-1 {
    padding: 7PX 15PX;
    color: #534c5b;
    font-size: 13PX;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5S;
    letter-spacing: 4PX;
    border:1px solid #8F7CEC;
    border-radius: 0px;
    margin-left: 7px;
    width:100px;
    height: 40px;
    text-decoration: none;
    
  }
  .button-1:hover {
    background: #58cce9;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #21d2e9 , 0 0 25px  #489bef, 0 0 50px #3691e7, 0 0 100px #3aa9dd;
    text-decoration: none;
  }
.input-button
{
    text-align: center;
    display: table;
    
   
}
.role
{
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
}
.role:hover
{
    background-color: #fafafa;
}
.role:focus
{
    border: 1px solid aqua;
}
.name1
{
    width: 45%;
    padding: 8px 0 8px 30px;
}
@media (max-width: 480px)
{
    .container
    {
        width: 100%;
    }
    .input-name
    {
        margin-bottom: 5px;
    }
    .name
    {
        width: 100%;
        padding: 8px 0 8px 40px;
        margin-bottom: 1px;
    }
    .input-name span
    {
        padding: 0;
        margin: 0;
    }
}
