
.input-name
{
    width: 90%;
    position: relative;
    margin: 20px auto;
    text-align: center;
}
.name
{
    width: 45%;
    padding: 8px 0 8px 40px;
}
.input-name span
{
    margin-left: 35px;
}
.table tr td  {
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}