<body style="background-color:whitesmoke;background: linear-gradient(120deg,#8b7ae2, #55c2d6);;
background-repeat: no-repeat;background-size: cover;width:100%;height:97vh;display:flex">

<div class="container">
    <div class="d-flex">
        <div class="mx-auto" style="margin-top:220px;">
        <h6 align="center" style="font-size:xxx-large;font-family:minion web;color:rgb(255, 255, 255);margin-top:20px;text-shadow:4px 0.8px rgb(8, 212, 239)">
            Welcome to Online Result System
        </h6>
        </div>
    </div>
</div>
</body>

