
<body style="background-color:whitesmoke;background: linear-gradient(110deg,#b0a7d9, #55c2d6);
background-repeat:no-repeat;background-size: cover;width: 100%;height:100vh">

<br>
<h1 style="margin-top: -15px;margin-left: 45%;">Time-Table List</h1>
<div class="container-fluid">
    <form>
    <div class="input-name">
        <input [(ngModel)]="form.semester" name="semester" placeholder="Enter Semester" style="margin-left:8%;" class="name">
        
        <button (click)="submit()" type="submit" class="btn btn-primary" style="margin-left:2%">Search <i class="fa fa-search"></i></button>
    </div>
    </form>
    <br>
    <div *ngIf="success == true; then SUCC else FAIL"></div>
    <ng-template #SUCC><b style="color:rgb(58, 246, 58);margin-left:37%;font-size: x-large;" id="timeout">{{ message }}</b></ng-template>
    <ng-template #FAIL><b style="color:red;margin-left:33%;font-size: x-large;" id="timeout">{{ message }}</b></ng-template>
    
    <table width="100%">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm table-hover table-responsive-sm">
                    <thead class="thead" style="background-color: #7B8CEC; border:2px solid rgb(13, 16, 16)">
                        <th style="width: 120px; text-align:center">S.No.</th>
                        <th style="width: 120px; text-align:center">Subject</th>
                        <th style="width: 120px; text-align:center">Course</th>
                        <th style="width: 120px; text-align:center">Semester</th>
                        <th style="width: 120px; text-align:center">Exam Time</th>
                        <th style="width: 120px; text-align:center">Exam Date</th>
                        <th style="width: 120px; text-align:center">Edit</th>
                        <th style="width: 120px; text-align:center">Delete</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of list; let i = index;">
                            <td>{{ form.index + i }}</td>
                            <td>{{ e.subjectName }}</td>
                            <td>{{ e.courseName }}</td>
                            <td>{{ e.semester }}</td>
                            <td>{{ e.examTime }}</td>
                            <td>{{ e.examDate }}</td>
                            <td><button (click)="edit(e.id)" style="color:#7B8CEC">Edit <i class="fa fa-edit"></i></button></td>
                            <td><button (click)="delete(e.id)">Delete <i class="fa fa-trash" style="color:red"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </table>

    <div *ngIf="form.mesg == '';then EPAG else DPAG;"></div>

        <ng-template #EPAG>
            <div class="row">
                <div class="col-lg-1">
                    <div *ngIf="form.pageNo == 1; then PD else PE"></div>
                    <ng-template #PD><button disabled (click)="previous()" class="btn btn-dark">Previous</button></ng-template>
                    <ng-template #PE><button (click)="previous()" class="btn btn-primary">Previous</button></ng-template>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-1" >
                    <a [routerLink]="['/timetable']" class="btn btn-primary">Add</a>
                </div>
                <div class="col-lg-5"></div>
                <div class="col-lg-1">
                    <div *ngIf="list.length < 5 || form.LastId == form.MaxId; then ND else NE"></div>
                    <ng-template #ND><button disabled (click)="next()" class="btn btn-dark">Next</button></ng-template>
                    <ng-template #NE><button (click)="next()" class="btn btn-primary">Next</button></ng-template>
                </div>
            </div>
        </ng-template>
        <ng-template #DPAG>
            <b style="margin-left:40%;font-size: x-large;">{{ form.mesg }}</b><br>
            <button (click)="reload()" class="btn btn-primary" style="margin-left:45%;">Back</button>
        </ng-template>


</div>

</body>

