
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Forget Password</h2>
        <div class="form-container">
            <form >
            <div *ngIf="success == true;then SUCC else FAIL;"></div>
                <ng-template #FAIL><p style="color:red;text-align:center;font-size:x-large;text-shadow:1px 0.6px rgb(255, 0, 0);margin-top:20px"> {{ message }} </p></ng-template>
                <ng-template #SUCC><p style="color:rgb(61, 235, 61);text-align: center;text-shadow:1px 0.6px rgb(62, 247, 6);margin-top:20px"> {{ message }} </p></ng-template>
            <div class="input-name" style="margin-bottom: 20px;">
                <span style="color: red;margin-left:120px;font-size:medium">{{ inputError.login_id  }}</span>
            </div>
            <div class="input-name">
                <label style="margin-right: 5px;">Login Id<span style="color: red;margin-left:5px">*</span></label>
                <span style="margin-right: 20px;">
                    <i class="fa fa-envelope icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input [(ngModel)]="form.login_id" placeholder="Enter Your Email" name="login_id"  class="name" style="width: 60%;">
                </span>

            </div>
        
            <div class="input-button">
                <button (click)="submit()" class="button"  style="margin-left: 170px;">Submit</button>
                
            </div>
            </form>
            

           
        </div>

    </div>

  
</body>

</html>



